<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang Home</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body class="container mt-4">

<h1 class="mb-3">Danh sách sinh viên</h1>

<!-- Thanh Search -->
<form class="row mb-3" th:action="@{/student/search}" method="get">
    <div class="col-8">
        <input type="text" name="keyword" class="form-control" placeholder="Nhập tên sinh viên..."/>
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
    </div>
</form>

<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createStudentModal">
    + Thêm sinh viên
</button>
<div th:if="${createSuccess != null}">
    <div class="alert alert-success" role="alert">
        <p th:text="${createSuccess}"></p>
    </div>
</div>
<div th:if="${updateSuccess != null}">
    <div class="alert alert-success" role="alert">
        <p th:text="${updateSuccess}"></p>
    </div>
</div>
<div th:if="${deleteSuccess != null}">
    <div class="alert alert-success" role="alert">
        <p th:text="${deleteSuccess}"></p>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Email</th>
        <th>Tuổi</th>
        <th>Ngành</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${students}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.email}"></td>
        <td th:text="${s.age}"></td>
        <td th:text="${s.major}"></td>
        <td>
            <!-- Nút Update -->
            <button class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#updateStudentModal"
                    th:attr="data-id=${s.id},
                         data-name=${s.name},
                         data-email=${s.email},
                         data-age=${s.age},
                         data-major=${s.major}">
                Update
            </button>

            <!-- Nút Delete -->
            <form th:action="@{/student/delete/{id}(id=${s.id})}" method="post"
                  style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Bạn có chắc muốn xóa?')">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal Create-->
<div class="modal fade" id="createStudentModal" tabindex="-1" aria-labelledby="createStudentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createStudentModalLabel">Thêm sinh viên mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <!-- Form thêm sinh viên -->
                <form th:action="@{/student/create}" th:object="${studentDTO}" method="post">

                    <!-- Tên -->
                    <div class="mb-3">
                        <label class="form-label">Tên</label>
                        <input type="text" th:field="*{name}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('name')}" style="color: red;">
                            <span th:errors="*{name}"></span>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" th:field="*{email}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('email')}" style="color: red;">
                            <span th:errors="*{email}"></span>
                        </div>
                    </div>

                    <!-- Tuổi -->
                    <div class="mb-3">
                        <label class="form-label">Tuổi</label>
                        <input type="number" th:field="*{age}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('age')}" style="color: red;">
                            <span th:errors="*{age}"></span>
                        </div>
                    </div>

                    <!-- Ngành -->
                    <div class="mb-3">
                        <label class="form-label">Ngành</label>
                        <input type="text" th:field="*{major}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('major')}" style="color: red;">
                            <span th:errors="*{major}"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Lưu</button>
                </form>
                <div th:if="${createFailed}" class="alert alert-danger" role="alert">
                    <p th:text="${createFailed}"></p>
                </div>
                <div th:if="${duplicateEmail}" class="alert alert-danger" role="alert">
                    <p th:text="${duplicateEmail}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update-->
<div class="modal fade" id="updateStudentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật sinh viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/student/update}" method="post" th:object="${studentDTO}">
                    <input type="hidden" th:field="*{id}" id="updateId"/>

                    <div class="mb-3">
                        <label class="form-label">Tên</label>
                        <input type="text" th:field="*{name}" id="updateName" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" th:field="*{email}" id="updateEmail" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tuổi</label>
                        <input type="number" th:field="*{age}" id="updateAge" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngành</label>
                        <input type="text" th:field="*{major}" id="updateMajor" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-success">Lưu</button>
                </form>
                <div th:if="${duplicateEmail}" class="alert alert-danger" role="alert">
                    <p th:text="${duplicateEmail}"></p>
                </div>
                <div th:if="${updateFailed}" class="alert alert-danger" role="alert">
                    <p th:text="${updateFailed}"></p>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    /* Nếu có biến showCreateModal = true thì hiện modal */
    let showModal = /*[[${showCreateModal}]]*/ false;
    if (showModal) {
        let myModal = new bootstrap.Modal(document.getElementById('createStudentModal'));
        myModal.show();
    }
</script>
<script>
    const updateModal = document.getElementById('updateStudentModal');
    updateModal.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget; // nút bấm "Update"

        // Lấy data-* từ nút Update
        let id = button.getAttribute('data-id');
        let name = button.getAttribute('data-name');
        let email = button.getAttribute('data-email');
        let age = button.getAttribute('data-age');
        let major = button.getAttribute('data-major');

        // Gán vào input trong modal
        updateModal.querySelector('#updateId').value = id;
        updateModal.querySelector('#updateName').value = name;
        updateModal.querySelector('#updateEmail').value = email;
        updateModal.querySelector('#updateAge').value = age;
        updateModal.querySelector('#updateMajor').value = major;
    });
</script>
</body>
</html>
